#!/bin/bash

alias notes="vi ~/.my-notes.txt"
alias v="vagrant"
alias gdiff="git diff --color | diff-so-fancy | less"
alias git=hub
alias d-c=docker-compose
alias docker-clean="docker ps -aqf status=exited|xargs docker rm && docker images -qf dangling=true|xargs docker rmi"
