#!/bin/bash

function substitute_suffix() {
  if [[ $# -ne 2 ]]; then
    echo "Renames all files that have required suffix with given other suffix"
    echo "Usage:"
    echo "$0 suffix_to_find suffix_to_replace"
    echo "----"
    echo "example:"
    echo "$0 _old.json _new.json"
    echo "# this will renames 'test_old.json' to 'test_new.json' in current folder"
  else
    SUFFIX_PREV=$1
    SUFFIX_NEW=$2

    for file in *$SUFFIX_PREV; do
        FILE=`echo $file | sed -e "s|$SUFFIX_PREV|$SUFFIX_NEW|g"`
        mv "$file" "$FILE"
    done
  fi
}

function subdir () {
  reset="\033[0m"
  red="\033[01;31m"
  cyan="\033[01;36m"

  if [[ $# -eq 0 ]]; then
    echo "${red}There is no command to run on each subdir${red}"
  else
    ls -d */ | xargs -n1 bash -c 'cd $0; echo -e "'"${reset}${cyan}"'-------------------------\n--- '"$(echo "$@")"' (in $0)\n-------------------------'"${cyan}${reset}"'";'"$(echo "$@")"';echo -e "\n"'
  fi
}

function git-aws () {
  security delete-internet-password -l "git-codecommit.eu-west-1.amazonaws.com" > /dev/null 2>&1
  git config --global credential.UseHttpPath true >/dev/null 2>&1
  git config --global credential.helper '!aws codecommit credential-helper --profile '$1'' > /dev/null 2>&1
  git ${@:2}
  git config --global --unset credential.UseHttpPath > /dev/null 2>&1
  git config --global --unset credential.helper > /dev/null 2>&1
}

alias v="vagrant"
alias git=hub
alias g=git
alias doc=docker
alias doco=docker-compose
alias dops="docker ps --format \"table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}\" $@"
alias docker-clean="docker ps -aqf status=exited|xargs docker rm && docker images -qf dangling=true|xargs docker rmi"
alias http-server="python -m SimpleHTTPServer"
alias md5sum="md5 -r"